body {
    background-color: black;
}

#header {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: aliceblue;
}

#container {
    display: grid;
    width: 960px;
    margin: 0 auto;
}

.square {
    background-color: #FFFFFF;
    margin: 0;
}

.square-hovered {
    /*background-color: rgb(255, 255, 255);*/
}